<p id="notice"><%= notice %></p>

<p>
  <strong>Con num:</strong>
  <%= @contestant.con_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @contestant.profile %>
</p>

<p>
  <strong>Image:</strong>
  <%= @contestant.image %>
</p>

<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
