<div class=" card container" id="margin-down">

<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" align="center">Login via site</h3>
			 	</div>
			  	<div class="panel-body">
			  	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                  <%= f.email_field :email, autofocus: true,class:"form-control", placeholder:"yourmail@example.com" %>
			    		    <!--<input class="form-control" placeholder="yourmail@example.com" name="email" type="text">-->
			    		</div>
			    		<div class="form-group">
			    		  <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
			    			<!--<input class="form-control" placeholder="Password" name="password" type="password" value="">-->
			    		</div>
			    		
			    		<% if devise_mapping.rememberable? -%>
                <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                </div>
              <% end %>
			    		
			    		<!--<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>-->
			    	    <div>
			    	      <%= render "devise/shared/links" %>
			    	      <!--<p>Signup</p>
			    	      <p>Forgot your password?</p>-->
			    	    </div>
			    	    <div class="actions">
                  <%= f.submit "Log in", class:"btn btn-lg btn-success btn-block" %>
                </div>
			    		<!--<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">-->
			    	</fieldset>
			      	</form>
                      <hr/>
                    <center><h4>OR</h4></center>
                    <%= link_to "Login via facebook", user_facebook_omniauth_authorize_path ,class:"btn btn-lg btn-facebook btn-block"  %>
                    <!--<input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook">-->
			   
			    </div>
			 
			   <% end %>
			</div>
		</div>
	</div>
</div>
</div>