

<div class="container">
            <div class="row">
              <%  if user_signed_in? && current_user.id == @pageant.user_id %>
                <ul>
                  <li><%= link_to "Add Contestant", new_pageant_contestant_path(@pageant) %></li>
                  <li><%= link_to 'Edit', edit_pageant_path(@pageant) %></li> 
                
                  <li><%= link_to "Delete", pageant_path(@pageant), method: :delete,
                                 data: { confirm: "Are you sure you want to delete this pageant?"} %></li>
                  </ul>
              <%  end %>
            </div>
          </div>

<div>

  
  
  <div class="col s12 m6 13">
    <!--<h4 class="header">Contestant</h4>-->
    <div class="card horizontal">
      <div class="card-image">
       <%= image_tag( @pageant.image, size: "600x400", class:'img-responsive' ) %>
      </div>
      <div class="card-small">
        <div class="card-content">
          <p>Name : <%= @pageant.name %></p>
          <p>Description   : <%= @pageant.description %></p>
          <p>Category : <%= @pageant.category %></p>
          <p>Start Date   : <%= @pageant.startdate %></p>
          

        </div>
        
        
        
        <div class="card-action">
          <!--<a class="waves-effect indigo darken-4 btn">Vote</a>-->
        </div>
      </div>
    </div>
  </div>
  
  
</div>

  <% @contestants.each do |contestant| %>
  <div class="col s12 m6 l3">
    <!--<h4 class="header">Contestant</h4>-->
    <div class="card horizontal">
      <!--<div class="thumbnail">-->
       <%= image_tag( contestant.image, size: "190x190", class: 'img-rounded') %>
      <!--</div>-->
      <div class="card-small">
        <div class="card-content">
          <p>Contestant Number   : <%= contestant.con_num %></p>
          <p>Contestant Name     : <%= contestant.name%></p>
          <p>Contestants Votes   : <%= contestant.get_upvotes.size %></p>
        </div>
        <div class="card-action">
          <%= link_to like_contestant_url(contestant), method: :put , class:'btn btn-lg btn-success'  do %>
          Vote
        <%  end %>
        </div>
        
      </div>
    </div>
  </div>
<%  end %>


<h3>Trial starts here</h3>
    <% @contestants.each do |contestant| %>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      
                <div class="well">
                    <div class="card-block">
                        <figure class="profile">
                            <center><%= image_tag( contestant.image, size: "200x210", class: 'img-rounded') %></center>
                        </figure>
                        <h4 align="center" class="card-title mt-3"><p><b><%= contestant.name%></b></p></h4>
                        <div class="card-text">
                            <center><b>Number: #</b><%= contestant.con_num %></p></center>
                            <center><b>Description</b></br> <%= contestant.profile %></br>
                            Total Votes <%= contestant.get_upvotes.size %>
                        </div>
                    </div>
                      <%= link_to like_contestant_url(contestant), method: :put , class:'btn btn-success btn-lg btn-block'  do %>
                      Vote
                      <%  end %>
                    </br>
                </div>
               
            </div>
             <%  end %>



</div>
</div>

<!--</div> closing col-8 -->

<!--<div class="col-md-4">Coming from 4 soon</div>

<div class="col-md-8">Coming to you from 8 soon!</div>
<div class="col-md-4">Coming to you from 4 soon!</div>-->
