

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center;">
         
            <%  if user_signed_in? && current_user.id == @pageant.user_id %>
            
            <h3 style="text-align:center; color:gray;"><%= @pageant.name %></h3>
            
             <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus-sign "></span> &nbsp; <%= link_to "Add Contestant", new_pageant_contestant_path(@pageant) %>
            </button>
            
             <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pencil "></span> &nbsp; <%= link_to 'Edit', edit_pageant_path(@pageant) %>
            </button>
            
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove "></span> &nbsp; <%= link_to "Delete", pageant_path(@pageant), method: :delete,
                                 data: { confirm: "Are you sure you want to delete this pageant?"} %>
            </button>
                
              <%  end %>
           
          </div>


  <div class="panel-body">
      <div class="col s12 m6 13">
        <!--<h4 class="header">Contestant</h4>-->
        <div class="col-md-6">
          <div class="card-image" style="padding:5px;">
           <%= image_tag( @pageant.image, size: "600x400", class:'img-responsive' ) %>
          </div>
        </div>
       
          <div class="col-md-6">
          <div class="card-small">
            <div class="card-content" style="color: #90949c; padding:10px; font-size:14px;">
    
              <p> <i class="fa fa-id-badge"></i> &nbsp;Name           : <%= @pageant.name %></p>
              <p> <i class="fa fa-address-card-o" aria-hidden="true"></i> &nbsp;Description    : <%= @pageant.description %></p>
              <p> <i class="fa fa-venus-mars" aria-hidden="true"></i> &nbsp;Category       : <%= @pageant.category %></p>
              <p> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;Start Date     : <%= @pageant.startdate %></p>
              <p> <i class="fa fa-calendar-times-o" aria-hidden="true"></i> &nbsp;End Date       : <%= @pageant.enddate %></p>
            
            </div>
            <br/>
            </div>
          </div>
        </div>
      </div>


 <!--<div class="panel-footer">
   <div class="row">
   <div class="col-md-6">
    <h6 class="text-muted">  <span class="glyphicon glyphicon-calendar "></span> Start Date: <%= @pageant.startdate %></h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-muted" style="text-align:right;"> <span class="	glyphicon glyphicon-calendar "></span> End Date: <%= @pageant.enddate %></h6>
  </div>
  </div>
 
 </div>-->


</div>
</div>
</div>


<div class="row">

  <% @contestants.each do |contestant| %>
  <!--<div class="col s12 m6 l3">-->
  <div class="col-md-3">
   
    <!--<h4 class="header">Contestant</h4>-->
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center;">
         <h4 style="text-align:center; color:gray;"> <%= contestant.name%></h4>
         <%  if user_signed_in? && current_user.id == @pageant.user_id %>
          <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pencil "></span> &nbsp; <%= link_to "Edit", edit_pageant_contestant_path(@pageant) %>
          </button>
          
          <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove "></span> Delete
            </button>
            <% end  %>
      </div>
      
      <div class="panel-body">
         <%= image_tag( contestant.image, size: "190x190", class: 'img-rounded') %>
         <hr>
         <div class="card-content" style="color: #90949c; padding:10px; font-size: 11px;">
          <p> <span class="	glyphicon glyphicon-signal "></span> Contestant Number   : <%= contestant.con_num %></p>
          <!--<p>Contestant Name     : <%= contestant.name%></p>-->
          
          <p> <span class="	glyphicon glyphicon-user "></span> Contestants Profile   : <%= contestant.profile %></p>
          <p> <span class="	glyphicon glyphicon-check "></span> Contestants Votes   : <%= contestant.get_upvotes.size %></p>
          
        </div>
     
        
      </div>
      
      <div class="panel-footer">
      <div class="card-small">
        
        <div class="card-action">
          <%= link_to like_contestant_url(contestant), method: :get , class:' glyphicon glyphicon-ok-circle btn btn-block btn-success '  do %>
          Vote
        <%  end %>
        </div>
        
      </div>
      </div>
    </div>
  </div>
<%  end %>
</div>
</div>
