

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center;">
         
            <%  if user_signed_in? && current_user.id == @pageant.user_id %>
            
            <h3 style="text-align:center; color:gray;"><%= @pageant.name %></h3>
            
             <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus-sign "></span> &nbsp; <%= link_to "Add Contestant", new_pageant_contestant_path(@pageant) %>
            </button>
            
             <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pencil "></span> &nbsp; <%= link_to 'Edit', edit_pageant_path(@pageant) %>
            </button>
            
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove "></span> &nbsp; <%= link_to "Delete", pageant_path(@pageant), method: :delete,
                                 data: { confirm: "Are you sure you want to delete this pageant?"} %>
            </button>
                
              <%  end %>
           
          </div>


  <div class="panel-body">
      <div class="col s12 m6 13">
        <!--<h4 class="header">Contestant</h4>-->
        <div class="col-md-6">
          <div class="card-image" style="padding:5px;">
           <%= image_tag( @pageant.image, size: "600x400", class:'img-responsive' ) %>
          </div>
        </div>
       
          <div class="col-md-6">
          <div class="card-small">
            <div class="card-content" style="color: #90949c; padding:10px; font-size:14px;">
              <h4><p> <i class="fa fa-id-badge"></i> &nbsp;<b>Name:</b> <%= @pageant.name %></h4></p>
              <p> <i class="fa fa-address-card-o" aria-hidden="true"></i> &nbsp;<b>Description:</b> <%= @pageant.description %></p>
              <p> <i class="fa fa-venus-mars" aria-hidden="true"></i> &nbsp;<b>Category:</b> <%= @pageant.category %></p>
              <p> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;<b>Start Date:</b> <%= @pageant.startdate %></p>
              <p> <i class="fa fa-calendar-times-o" aria-hidden="true"></i> &nbsp;<b>End Date:</b> <%= @pageant.enddate %></p>
            
            </div>
            <br/>
            </div>
          </div>
        </div>
      </div>


 <!--<div class="panel-footer">
   <div class="row">
   <div class="col-md-6">
    <h6 class="text-muted">  <span class="glyphicon glyphicon-calendar "></span> Start Date: <%= @pageant.startdate %></h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-muted" style="text-align:right;"> <span class="	glyphicon glyphicon-calendar "></span> End Date: <%= @pageant.enddate %></h6>
  </div>
  </div>
 
 </div>-->


</div>
</div>
</div>




<div class="row">
    
        <div class="col-md-8">
          <div class="panel panel-default">
    <div class="panel panel-heading">
       <h4 align="center"> Contestants </h4>
    </div>
     <div class="panel-body"> <!--style=" padding: 15px !important; height: 450px; overflow: auto;"-->
        <div class="row">
          <% @contestants.each do |contestant| %>
            <div class="col-md-6">
            <div class="well well-sm" style="width: 100%;">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        
                        <%= image_tag( contestant.image, size: "190x170", class: 'img-rounded img-responsive') %>
                    </div>
                    <div class="col-sm-4 col-md-7">
                        <h4>
                           <i class="fa fa-id-badge" aria-hidden="true"></i> <%= contestant.name%>
                        </h4>
                        <i class="fa fa-hashtag" aria-hidden="true"></i><small> Contestant No. <%= contestant.con_num %></small><br/>
                        <i class="fa fa-tag" aria-hidden="true"></i><small>  Age</small><br/>
                        <i class="fa fa-calendar"></i><small> Hobbies</small><br/>
                        <i class="fa fa-map-marker" aria-hidden="true"></i><small> &nbsp;  District  </small><br/>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i><small> Education </small><br/>
                       <i class="fa fa-hand-o-right" aria-hidden="true"></i><small> Votes (</small> <span style="color:green; font-weight:bold;"> <%= contestant.get_upvotes.size %> </span>)<br/>
                        <!-- Split button -->
                        
                        <button type="button" class="btn btn-success block btn-block">
                          <%= link_to like_contestant_url(contestant), method: :get  do %><font color="white">Vote</font>
                        </button> 
                      <% end %>
                    </div>
                      
                    </div>
                    <hr style="border-top: 1px solid rgba(128, 128, 128, 0.37); margin-bottom: 0px !important;">
                    <div class="row">
                      <div class="col-md-6">
                        <div style="display:flex; padding-left:5px;">
                          
                          <%  if user_signed_in? && current_user.id == @pageant.user_id %>
                      
                          <button type="button" class="btn btn-default btn-sm" style="margin-right: 5px;">
                              <span class="glyphicon glyphicon-pencil "></span> &nbsp; Edit
                          </button>
                
                          <button type="button" class="btn btn-default btn-sm"  style="margin-right: 5px;">
                            <span class="glyphicon glyphicon-remove "></span> Delete
                          </button>
                           <% end  %>
                          </div>
                      </div>
                      
                      <div class="col-md-6">
                    <!--social share goes here-->
                    <div class="social" style="font-size:25px; float:right;">
                      <!--<i class="fa fa-twitter-square" aria-hidden="true"></i>
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                      <i class="fa fa-facebook-square" aria-hidden="true"></i>-->
                    </div>
                    </div>
                    </div>
                </div> 
                  
                </div>
                
                <%  end %>
            </div>
          </div>
        </div>
        </div>
        
        
        
        <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel panel-heading">
                <h4>Top Runners</h4>
              </div>
              <div class="panel-body" style="height: 420px;">

                  
<div class="row bootstrap snippet">
    <div class="col-md-12 ">
      
          <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <strong><span class="	glyphicon glyphicon-check "></span> Votes: 1120</strong>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Bako Shamim</a></div>
                  <small>Contestant No. 1</small>
                </div>
              </div>
             <hr style="margin-top: 10px !important; margin-bottom: 0px !important;">
            </li>
            
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <strong><span class="	glyphicon glyphicon-check "></span> Votes: 1120</strong>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Bako Shamim</a></div>
                  <small>Contestant No. 1</small>
                </div>
              </div>
             <hr style="margin-top: 10px !important; margin-bottom: 0px !important;">
            </li>
            
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <strong><span class="	glyphicon glyphicon-check "></span> Votes: 1120</strong>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Bako Shamim</a></div>
                  <small>Contestant No. 1</small>
                </div>
              </div>
             <hr style="margin-top: 10px !important; margin-bottom: 0px !important;">
            </li>
            
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <span class="	glyphicon glyphicon-check "></span> Votes: 1120
                  </div>
                  <div><a class="name" href="javascript:void(0)">Bako Shamim</a></div>
                  <small>Contestant Number 1</small>
                </div>
               
              </div>
               <hr style="margin-top: 10px !important; margin-bottom: 0px !important;">
            </li>
            
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    Votes: 1120
                  </div>
                  <div><a class="name" href="javascript:void(0)">Bako Shamim</a></div>
                  <small>Contestant Number 1</small>
                </div>
              </div>
              <hr style="margin-top: 10px !important; margin-bottom: 0px !important;">
            </li>
            
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <span class="	glyphicon glyphicon-check "></span> Votes: 1120
                  </div>
                  <div><a class="name" href="javascript:void(0)">Bako Shamim</a></div>
                  <small>Contestant Number 1</small>
                </div>
              </div>
               <hr style="margin-top: 10px !important; margin-bottom: 0px !important;">
            </li>
             
          </ul>
         
        </div>
      </div>
    </div>
</div>
              </div>
            
          </div>
        </div>
