<nav class=" indigo darken-4">
    <div class="nav-wrapper">
      <%= link_to "Ezyvote", root_path, class:"brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        
        <li><%= link_to "Home", root_path, class: "links" %></li>
        <li><%= link_to "Contests", pageants_path(@pageant), class: "links" %></li>
        <li><%= link_to "Create Contest", new_pageant_path, class: "links" %></li>
        <% if user_signed_in? %>
          
          <li><%= link_to current_user.email.capitalize %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          
            <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          
          <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Home", root_path, class: "links" %></li>
        <li><%= link_to "Contests", pageants_path(@pageant), class: "links" %></li>
        <li><%= link_to "Create Contest", new_pageant_path, class: "links" %></li>
          <ul>       
          <% if user_signed_in? %>
          
          <li><%= link_to current_user.email.capitalize %>'s Profile</li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          
            <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          
          <% end %>
          </ul>
      </ul>
    </div>
  </nav>
          